<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather in your city</title>
  </head>
  <body>
    <div class="form-wrap">
      <form class="search-form" id="search-form">
        <input
          class="search-form__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Enter your city..."
        />
        <button class="search-form__btn" type="submit">
          <svg class="search-form__svg" width="25" height="25">
            <use href="./images/icons.svg#search"></use>
          </svg>
        </button>
      </form>
    </div>

    <div class="wrapper">
      <div id="weather" class="weather">
        <div class="weather__loading is-hidden">
          <img src="./images/loading.gif" alt="Loading...">
        </div>
      <p class="weather__start">
          Do you want to know the weather in your city? Enter city`s name in the
          search field
        </p>
    </div>
  </body>
</html>
